* {
  padding: 0;
  margin: 0;
  font-family: 'Formular';
  box-sizing: border-box;
}

.app-wrapper {
  background-color: #fff;
  width: 100%;
}

.main-title {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 65px;
  color: #000000;

  &__more {
    display: flex;
    align-items: center;
    opacity: 0.4;
    margin-left: 26px;
    cursor: pointer;
    text-decoration: none;
    transition: .4s;

    &-text {
      font-size: 24px;
      line-height: 1.33;
      color: #000000;
    }

    &-arrow {
      width: 125px;
      height: 1px;
      background-color: #000;
      transition: all .4s;
      position: relative;
      margin-left: 26px;
      transition: .4s;

      &::before, &::after {
        content: '';
        position: absolute;
        right: 0px;
        width: 10px;
        height: 1px;
        border-radius: 3px;
        background-color: #000;
        transform-origin: right;
      }

      &::before {
        transform: rotate(45deg);
        
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      opacity: 1;

      .main-title__more-arrow {
        width: 140px;
      }
    }
  }
}

.main-input {
  width: 100%;
  border: 0px;
  border-bottom: 2px solid #000000;
  padding: 20px 0px;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  outline: 0px;

  &::placeholder {
    color: #000000;
  }
}