.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 2px solid #000000;
  padding-bottom: 18px;

  &-wrapper {
    padding: 31px 80px 0px;
  }

  &-logo {
    width: 180px;
    font-size: 0px;

    img {
      width: 100%;
    }
  }

  

  &-menu {
    display: flex;
    justify-content: space-between;

    &__item {
      font-size: 18px;
      margin: 0px 60px;
      line-height: 22px;
      cursor: pointer;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #000;
        bottom: -3px;
        transition: .4s;
        transform: scaleX(0);
      }

      &:hover {
        &::before {
          transform: scaleX(1);
        }
      }
    }
  }

  &-auth {
    display: flex;
    align-items: center;
    width: 225px;

    &__text {
      font-size: 18px;
      line-height: 22px;
      margin-left: 25px ;
    }
  }
}