@import url(../fonts/stylesheet.css);
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid #000000;
  padding-bottom: 18px; }
  .header-wrapper {
    padding: 31px 80px 0px; }
  .header-logo {
    width: 180px;
    font-size: 0px; }
    .header-logo img {
      width: 100%; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header-menu__item {
      font-size: 18px;
      margin: 0px 60px;
      line-height: 22px;
      cursor: pointer;
      position: relative; }
      .header-menu__item::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #000;
        bottom: -3px;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0); }
      .header-menu__item:hover::before {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1); }
  .header-auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 225px; }
    .header-auth__text {
      font-size: 18px;
      line-height: 22px;
      margin-left: 25px; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Formular';
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.app-wrapper {
  background-color: #fff;
  width: 100%; }

.main-title {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 65px;
  color: #000000; }
  .main-title__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.4;
    margin-left: 26px;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .main-title__more-text {
      font-size: 24px;
      line-height: 1.33;
      color: #000000; }
    .main-title__more-arrow {
      width: 125px;
      height: 1px;
      background-color: #000;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      position: relative;
      margin-left: 26px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      .main-title__more-arrow::before, .main-title__more-arrow::after {
        content: '';
        position: absolute;
        right: 0px;
        width: 10px;
        height: 1px;
        border-radius: 3px;
        background-color: #000;
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right; }
      .main-title__more-arrow::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .main-title__more-arrow::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .main-title__more:hover {
      opacity: 1; }
      .main-title__more:hover .main-title__more-arrow {
        width: 140px; }

.main-input {
  width: 100%;
  border: 0px;
  border-bottom: 2px solid #000000;
  padding: 20px 0px;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  outline: 0px; }
  .main-input::-webkit-input-placeholder {
    color: #000000; }
  .main-input:-ms-input-placeholder {
    color: #000000; }
  .main-input::-ms-input-placeholder {
    color: #000000; }
  .main-input::placeholder {
    color: #000000; }

.main-header {
  background-image: url(../img/main_header_bcg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 170px 46px 46px;
  margin: 30px 80px; }
  .main-header .main-header__text span {
    background-color: #FFF;
    display: inline-block;
    font-weight: 500;
    font-size: 88px;
    line-height: 108px;
    mix-blend-mode: lighten;
    color: #000;
    margin-bottom: 10px; }

.main-enter {
  margin: 0px 80px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 120px; }
  .main-enter__become, .main-enter__text {
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .main-enter__text {
    border-right: 2px solid #000000;
    padding: 36px 20px 36px 0px; }
    .main-enter__text-item {
      font-size: 72px;
      line-height: 72px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .main-enter__text-small {
      padding-left: 10px;
      font-size: 18px;
      line-height: 24px; }
  .main-enter__become {
    padding-top: 47px;
    padding-left: 40px;
    cursor: pointer; }
    .main-enter__become-text {
      font-size: 48px;
      line-height: 54px; }
    .main-enter__become-arrow {
      height: 2px;
      background-color: #000;
      position: relative;
      margin-top: 20px;
      width: 100%;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }
      .main-enter__become-arrow::before, .main-enter__become-arrow::after {
        content: '';
        position: absolute;
        right: -2px;
        width: 10px;
        height: 2px;
        border-radius: 3px;
        background-color: #000; }
      .main-enter__become-arrow::before {
        top: -3px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .main-enter__become-arrow::after {
        bottom: -3px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .main-enter__become:hover .main-enter__become-arrow {
      width: 105%; }

.main-about {
  margin-bottom: 260px; }
  .main-about__title {
    margin-bottom: 40px;
    margin: 0px 80px 40px; }
  .main-about__items {
    margin: 0px 80px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-about__item {
    border-left: 2px solid #000;
    padding: 15px 30px 15px 20px;
    font-size: 16px;
    line-height: 20px;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .main-about__info {
    background-image: url(../img/main_about_bcg.png);
    padding-top: 70px; }
    .main-about__info-content {
      display: inline-block;
      background-color: #F5F5F5;
      padding: 50px 60px;
      width: 525px;
      position: relative;
      left: 50%;
      top: 130px; }
      .main-about__info-content-numbers {
        font-size: 120px;
        line-height: 147px;
        color: #000000; }
      .main-about__info-content-text {
        font-size: 24px;
        line-height: 29px;
        width: 50%; }

.main-opportunities {
  padding: 0px 80px;
  margin-bottom: 200px; }
  .main-opportunities__title {
    margin-bottom: 30px; }
  .main-opportunities__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start; }
  .main-opportunities__img {
    margin-top: 20px;
    width: 35%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 0; }
    .main-opportunities__img img {
      width: 100%; }
    .main-opportunities__img-text {
      font-size: 16px;
      line-height: 24px;
      margin-top: 16px; }
  .main-opportunities__list {
    width: 65%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 8%; }
    .main-opportunities__list-item {
      font-size: 38px;
      line-height: 48px;
      opacity: 0.3;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      color: #000000;
      display: block;
      position: relative;
      margin-bottom: 16px;
      cursor: pointer; }
      .main-opportunities__list-item--active {
        opacity: 1; }
        .main-opportunities__list-item--active::before {
          height: 75% !important; }
      .main-opportunities__list-item::before {
        position: absolute;
        content: '';
        height: 0%;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        left: -20px;
        top: 55%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 3px;
        background-color: #000; }
      .main-opportunities__list-item:hover {
        opacity: 1; }
        .main-opportunities__list-item:hover::before {
          height: 75%; }
      .main-opportunities__list-item:last-child {
        padding-bottom: 0; }

.main-steps {
  padding: 0px 80px;
  margin-bottom: 200px; }
  .main-steps__title {
    margin-bottom: 50px; }
  .main-steps__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 2px solid #000000;
    padding-top: 30px; }
  .main-steps__item {
    width: 20%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-steps__item-number {
      font-weight: 300;
      font-size: 72px;
      line-height: 58px;
      margin-right: 12px; }
    .main-steps__item-text {
      font-size: 15px;
      line-height: 18px; }
    .main-steps__item::before {
      position: absolute;
      z-index: 2;
      content: '';
      height: 30px;
      width: 2px;
      background-color: #000;
      left: 0;
      top: -30px; }

.main-tasks {
  padding: 0px 80px;
  margin-bottom: 150px; }
  .main-tasks__title {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .main-tasks__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 450px;
    overflow: hidden; }
  .main-tasks__item {
    width: calc(50% - 10px);
    border-top: 2px solid #000000;
    padding-top: 16px;
    cursor: pointer; }
    .main-tasks__item-img {
      width: 100%;
      height: 290px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      .main-tasks__item-img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .main-tasks__item-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin-top: 16px; }
    .main-tasks__item-text {
      display: none; }
    .main-tasks__item:hover .main-tasks__item-img {
      height: 130px; }
    .main-tasks__item:hover .main-tasks__item-text {
      display: block; }

.main-events {
  padding: 0px 80px;
  margin-bottom: 150px; }
  .main-events__title {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .main-events__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-events__item {
    width: calc(33.33% - 13px);
    cursor: pointer; }
    .main-events__item-img {
      width: 100%;
      height: 210px;
      position: relative; }
      .main-events__item-img img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        height: 100%; }
      .main-events__item-img-text {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F5F5F5;
        font-size: 16px;
        line-height: 22px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0px 50px;
        opacity: 0;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
    .main-events__item-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 12px; }
      .main-events__item-header-date {
        font-size: 14px;
        line-height: 17px;
        margin-right: 16px;
        -ms-flex-negative: 0;
        flex-shrink: 0; }
      .main-events__item-header-line {
        width: 100%;
        height: 1px;
        background-color: #000; }
      .main-events__item-header-time {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-left: 16px;
        font-size: 14px;
        line-height: 17px; }
    .main-events__item-title {
      margin-top: 20px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px; }
    .main-events__item:hover .main-events__item-img-text {
      opacity: 1; }

.main-news {
  padding: 0px 80px;
  margin-bottom: 160px; }
  .main-news__title {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .main-news__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-news__main {
    width: calc(66.66% - 20px);
    cursor: pointer; }
    .main-news__main-img {
      width: 100%;
      position: relative;
      font-size: 0; }
      .main-news__main-img img {
        width: 100%; }
      .main-news__main-img-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 63%;
        padding: 30px 5px 30px 0px;
        background-color: #fff;
        font-weight: 500;
        font-size: 22px;
        line-height: 28px; }
  .main-news__other {
    width: calc(33.33% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main-news__other-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      cursor: pointer; }
      .main-news__other-item-img {
        width: 90px;
        height: 90px;
        -ms-flex-negative: 0;
        flex-shrink: 0; }
        .main-news__other-item-img img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover; }
      .main-news__other-item-text {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        padding-left: 20px; }

.main-partners {
  margin-bottom: 140px; }
  .main-partners__title {
    padding: 0px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 50px; }
  .main-partners__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10px; }
  .main-partners__arrow {
    margin-left: 26px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    cursor: pointer;
    padding: 5px 0px; }
    .main-partners__arrow--disabled {
      opacity: 0.2;
      cursor: default; }
    .main-partners__arrow span {
      display: block;
      width: 50px;
      height: 1px;
      background-color: #000;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      position: relative; }
      .main-partners__arrow span::before, .main-partners__arrow span::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 1px;
        border-radius: 3px;
        background-color: #000; }
      .main-partners__arrow span::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .main-partners__arrow span::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .main-partners__arrow-left span::before, .main-partners__arrow-left span::after {
      left: 0;
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left; }
    .main-partners__arrow-right span::before, .main-partners__arrow-right span::after {
      right: 0;
      -webkit-transform-origin: right;
      -ms-transform-origin: right;
      transform-origin: right; }
  .main-partners__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 80px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .main-partners__item {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 32px 0px;
    width: 33.33%;
    cursor: pointer; }
    .main-partners__item:last-child {
      border-right: 0px; }
    .main-partners__item:hover .main-partners__item-img-hover {
      opacity: 1; }
    .main-partners__item-img {
      width: 55%;
      position: relative; }
      .main-partners__item-img img {
        width: 100%; }
      .main-partners__item-img-hover {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }

.main-contact {
  margin-bottom: 140px;
  padding: 0px 80px; }
  .main-contact__title {
    margin-bottom: 80px; }
  .main-contact__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .main-contact__form {
    width: calc(50% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main-contact__form .main-input__wrapper {
      margin-bottom: 10px; }
    .main-contact__form-button {
      width: 100%;
      padding: 20px 0px;
      background-color: #000;
      color: #fff;
      font-size: 20px;
      line-height: 24px;
      border: 0px;
      outline: 0px;
      cursor: pointer;
      margin-top: 40px; }
  .main-contact__info {
    background-color: #F5F5F5;
    padding: 70px 60px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main-contact__info-wrapper {
      width: calc(50% - 10px);
      padding-left: 90px; }
    .main-contact__info-item {
      padding-bottom: 40px; }
      .main-contact__info-item:last-child {
        padding-bottom: 0; }
      .main-contact__info-item-title {
        font-size: 24px;
        opacity: 0.6; }
      .main-contact__info-item-text {
        font-size: 36px; }

.main-footer {
  margin: 0px 80px;
  border-top: 2px solid #000;
  padding: 45px 0px 55px; }
  .main-footer__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-footer__left, .main-footer__right {
    width: calc(50% - 10px);
    font-size: 18px;
    line-height: 24px; }
  .main-footer__right {
    text-align: right; }
