.main-contact {
  margin-bottom: 140px;
  padding: 0px 80px;

  &__title {
    margin-bottom: 80px;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__form {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .main-input__wrapper {
      margin-bottom: 10px;
    }

    &-button {
      width: 100%;
      padding: 20px 0px;
      background-color: #000;
      color: #fff;
      font-size: 20px;
      line-height: 24px;
      border: 0px;
      outline: 0px;
      cursor: pointer;
      margin-top: 40px;
    }
  }

  &__info {
    background-color: #F5F5F5;
    padding: 70px 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-wrapper {
      width: calc(50% - 10px);
      padding-left: 90px;
    }
    
    &-item {
      padding-bottom: 40px;

      &:last-child {
        padding-bottom: 0;
      }

      &-title {
        font-size: 24px;
        opacity: 0.6;
      }

      &-text {
        font-size: 36px;
      }
    }
  }
}