.main-opportunities {
  padding: 0px 80px;
  margin-bottom: 200px;

  &__title {
    margin-bottom: 30px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__img {
    margin-top: 20px;
    width: 35%;
    flex-shrink: 0;
    font-size: 0;

    img {
      width: 100%;
    }

    &-text {
      font-size: 16px;
      line-height: 24px;
      margin-top: 16px;
    }
  }

  &__list {
    width: 65%;
    flex-shrink: 0;
    padding-left: 8%;

    &-item {
      font-size: 38px;
      line-height: 48px;
      opacity: 0.3;
      transition: .4s;
      color: #000000;
      display: block;
      position: relative;
      margin-bottom: 16px;
      cursor: pointer;
      
      &--active {
        opacity: 1;

        &::before {
          height: 75% !important; 
        }
      }

      &::before {
        position: absolute;
        content: '';
        height: 0%;
        transition: .4s;
        left: -20px;
        top: 55%;
        transform: translateY(-50%);
        width: 3px;
        background-color: #000;
      }

      &:hover {
        opacity: 1;

        &::before {
          height: 75%;
        }
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
    
  }
}