.main-events {
  padding: 0px 80px;
  margin-bottom: 150px;

  &__title {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: calc(33.33% - 13px);
    cursor: pointer;
    
    &-img {
      width: 100%;
      height: 210px;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
      
      &-text {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F5F5F5;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        padding: 0px 50px;
        opacity: 0;
        transition: .4s;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      margin-top: 12px;

      &-date { 
        font-size: 14px;
        line-height: 17px;
        margin-right: 16px;
        flex-shrink: 0;
      }

      &-line {
        width: 100%;
        height: 1px;
        background-color: #000;
      }
      
      &-time {
        flex-shrink: 0;
        margin-left: 16px;
        font-size: 14px;
        line-height: 17px;
      }
    }
    &-title {
      margin-top: 20px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    &:hover {
      .main-events__item-img-text {
        opacity: 1;
      }
    }
  }
}