.main-header {
  background-image: url(../img/main_header_bcg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 170px 46px 46px;
  margin: 30px 80px;

  .main-header__text {
  
    span {
      background-color: #FFF;
      display: inline-block;
      font-weight: 500;
      font-size: 88px;
      line-height: 108px;
      mix-blend-mode: lighten;
      color: #000;
      margin-bottom: 10px;
    }
  }
}