.main-footer {
  margin: 0px 80px;
  border-top: 2px solid #000;
  padding: 45px 0px 55px;
  &__section {
    display: flex;
    justify-content: space-between;
  }

  &__left, &__right {
    width: calc(50% - 10px);
    font-size: 18px;
    line-height: 24px;
  }

  &__right {
    text-align: right;
  }
}