.main-partners {
  margin-bottom: 140px;

  &__title {
    padding: 0px 80px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
  }

  &__arrows {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }

  &__arrow {
    margin-left: 26px;
    transition: .4s;
    cursor: pointer;
    padding: 5px 0px;

    &--disabled {
      opacity: 0.2;
      cursor: default;
    }

    span {
      display: block;
      width: 50px;
      height: 1px;
      background-color: #000;
      transition: all .4s;
      position: relative;

      &::before, &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 1px;
        border-radius: 3px;
        background-color: #000;
      }
  
      &::before {
        transform: rotate(45deg);
      }
  
      &::after {
        transform: rotate(-45deg);
      }
    }

    

    &-left {
      span {
        &::before, &::after {
          left: 0;
          transform-origin: left;
        }
      }
      
    }

    &-right {
      span {
        &::before, &::after {
          right: 0;
          transform-origin: right;
        }
      }
    }
  }

  &__items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0px 80px;
    border-top: 1px solid rgba(0,0,0, .2);
    border-bottom: 1px solid rgba(0,0,0, .2);
  }

  &__item {
    border-right: 1px solid rgba(0,0,0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0px;
    width: 33.33%;
    cursor: pointer;

    &:last-child {
      border-right: 0px;
    }

    &:hover {
      .main-partners__item-img-hover {
        opacity: 1;
      }
    }
    
    &-img {
      width: 55%;
      position: relative;

      img {
        width: 100%;
      }

      &-hover {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .4s;
      }
    }
  }
}