.main-about {
  margin-bottom: 260px;
  &__title {
    margin-bottom: 40px;
    margin: 0px 80px 40px;
  }

  &__items {
    margin: 0px 80px 80px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  &__item {
    border-left: 2px solid #000;
    padding: 15px 30px 15px 20px;
    font-size: 16px;
    line-height: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__info{
    background-image: url(../img/main_about_bcg.png);
    padding-top: 70px;

    &-content {
      display: inline-block;
      background-color: #F5F5F5;
      padding: 50px 60px;
      width: 525px;
      position: relative;
      left: 50%;
      top: 130px;
  
      &-numbers {
        font-size: 120px;
        line-height: 147px;
        color: #000000;
      }

      &-text {
        font-size: 24px;
        line-height: 29px;
        width: 50%;
      }
    }
  }
}