.main-steps {
  padding: 0px 80px;
  margin-bottom: 200px;

  &__title {
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid #000000;
    padding-top: 30px;
  }

  &__item {
    width: 20%;
    position: relative;
    display: flex;
    

    &-number {
      font-weight: 300;
      font-size: 72px;
      line-height: 58px;
      margin-right: 12px;
    }

    &-text {
      font-size: 15px;
      line-height: 18px;
    }

    &::before {
      position: absolute;
      z-index: 2;
      content: '';
      height: 30px;
      width: 2px;
      background-color: #000;
      left: 0;
      top: -30px;
    }
  }
}