.main-enter {
  margin: 0px 80px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 120px;

  &__become, &__text {
    width: 50%;
    flex-shrink: 0;
  }

  &__text {
    border-right: 2px solid #000000;
    padding: 36px 20px 36px 0px;

    &-item {
      font-size: 72px;
      line-height: 72px; 
      display: flex;
      align-items: center;
    }

    &-small {
      padding-left: 10px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__become {
    padding-top: 47px;
    padding-left: 40px;
    cursor: pointer;
    &-text {
      font-size: 48px;
      line-height: 54px;
    }

    &-arrow {
      height: 2px;
      background-color: #000;
      position: relative;
      margin-top: 20px;
      width: 100%;
      transition: all .4s;
      
      &::before, &::after {
        content: '';
        position: absolute;
        right: -2px;
        width: 10px;
        height: 2px;
        border-radius: 3px;
        background-color: #000;
      }

      &::before {
        top: -3px;
        transform: rotate(45deg);
      }

      &::after {
        bottom: -3px; 
        transform: rotate(-45deg);
      }
    }

    &:hover {
      .main-enter__become-arrow {
        width: 105%;

      }
    }
  }
}