.main-news {
  padding: 0px 80px;
  margin-bottom: 160px;

  &__title {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__main {
    width: calc(66.66% - 20px);
    cursor: pointer;

    &-img {
      width: 100%;
      position: relative;
      font-size: 0;

      img {
        width: 100%;
      }
      
      &-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 63%;
        padding: 30px 5px 30px 0px;
        background-color: #fff;
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  &__other {
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &-img {
        width: 90px;
        height: 90px;
        flex-shrink: 0;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &-text {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        padding-left: 20px;
      }
    }
  }
}