.main-tasks {
  padding: 0px 80px;
  margin-bottom: 150px;

  &__title {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end
  }

  &__items {
    display: flex;
    justify-content: space-between;
    height: 450px;
    overflow: hidden;
  }

  &__item {
    width: calc(50% - 10px);
    border-top: 2px solid #000000;
    padding-top: 16px;
    cursor: pointer;

    &-img {
      width: 100%;
      height: 290px;
      transition: .4s;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin-top: 16px;
    }

    &-text {
      display: none;
    }

    &:hover {
      .main-tasks__item-img {
        height: 130px;
      }

      .main-tasks__item-text {
        display: block;
      }
    }
  }
}